<!DOCTYPE html>
<html ng-app="modone" >
    
    <head >
        <!--<script src="js/libs/angular.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="appmodule.js"></script>
        
         <link rel="stylesheet" href="css/bootstrap.css">
        <title>sample app</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body >
        <div ng-controller="controlClientes" >
            <select ng-model="idClienteSeleccionado">
                <option ng-repeat="o in clientes" value="{{o}}">
                    {{o}}
                </option>
            </select>
            <button ng-click="obtenerClientes()">Cargar clientes</button>
        </div>
                <div ng-controller="controlInventarios" >
            <select ng-model="idInventarioSeleccionado">
                <option ng-repeat="o in inventarios" value="{{o}}">
                    {{o}}
                </option>
            </select>
            <button ng-click="obtenerInventarios()">Cargar inventarios</button>
        </div>
        
    </body>
</html>
